@import '../../shared/styles/theme.scss';

app-custom-breadcrum {
    z-index: 6;
    position: fixed !important;
    width: 100%;
}

.filter-container-top {
    margin-top: 40px;
}

::ng-deep .AccountPageTemplate {
    cx-page-slot.CustomFiltersExplanationSlot {
        max-width: 100% !important;
        padding: 0;
        .inner-filter-container {
            max-width: 100%;
            padding: 0;
            p {
                margin-bottom: 1rem;
            }
        }
    }

    .pageParaText {
        a {
            text-decoration: underline;
        }
    }
}