@import './variables.scss';
@import './fonts.scss';
//Dimond roofing based custom colors
$brand-color: #B61828;
$brand-color-variant1:#D51317;
$brand-color-variant2: #EC5E60;
$brand-color-variant3: #FA4D56;
$brand-color-variant4: #db0002;
$brand-color-variant5: #973937;
$white-color: #ffffff;
$white-variant1: #FAFAFA;
$black-color: #000000;
$black-variant1: #0A0A0A;
$black-variant2:#1D1D1B;
$black-variant3: #151514;
$black-variant4: #161616;
$black-variant5: #393939;
$black-variant6: #4C4C4C;
$black-variant7: #474747;
$black-variant8:#0000004D;
$black-variant9:#6F6F6F;
$black-variant10:#262626;
$black-variant11:#1D1D1D;
$gray-variant1: #363634;
$gray-variant2: #464645;
$gray-variant3: #707070;
$gray-variant4: #DCDCDC;
$gray-variant5: #A6A6A5;
$gray-variant6: #F6F6F6;
$gray-variant7: #E0E0E0;
$gray-variant8: #C6C6C6;
$gray-variant9:#eeeeee;
$gray-variant10:#525252;
$gray-variant11:#E8E8E8;
$gray-variant12:#D5D5D5;
$gray-variant13:#f1f1f1;
$gray-variant14:#c1c1c1;
$blue-variant1: #DEECF7;
$blue-variant2:#003d7a;
$gree-variant: #42BE65;
//change Spartacus theme colors here
$primary: #fe5757 !default;
$secondary: #747881 !default;
$success: #5dac06 !default;
$danger: #D00E17 !default;
$warning: #ffc107 !default;
$info: #17a2b8 !default;
$light: #d3d6db !default;
$dark: $black-variant2;
$background: #f4f4f4 !default;
$inverse: #ffffff !default;
$text: $black-variant2;
$transparent: transparent !default;
$visual-focus: #6d9df7 !default;
$background-focus: rgba(80, 176, 244, 0.1);
$dark-grey: #666666;
$placeholder-grey:#999999;
$border-variant:#548AF7;
$border-variant1:#2196F3;
$border-variant2:#edf5ff;
// myTeam pages custom colors
$status-active-color: #2AA900;
$status-pending-color: #FF7D00;
$status-expired-color: #D0021B;
$status-deactive-color: #8D8D8D;
$table-header-bg: #646363;
$title-color:#2196f3;
$error-bgcolor: #F88D9A;
$error-textcolor: #DA1E28;
$textcolor-variant:#B7B7B0;
$background-variant:#f3e7e752;
//order-histoy status colors
$background-slider-created: #f3a931;
$background-slider-approved: #f26522;
$background-slider-processing: #75578a;
$background-slider-ready: #486471;
$background-slider-delivering: #00acbd;
$background-slider-completed: #8dc440;
// $background-slider-despatched: #4081c4;
$background-slider-despatched: #8dc440;

$background-slider-delivered: #8dc440;
$background-slider-returned: #8dc440;
$background-slider-cancelled: #000000;
